<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レイアウト雛形</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div th:replace="~{/fragments/header :: pageHeader}"></div>
            <nav th:replace="~{/fragments/navigationBar :: navBar}"></nav>
        </header>
        <main>
            <section class="common-container">
                <h3 class="common-heading">見出し</h3>
                <hr>
                <p>本文</p>
            </section>
        </main>
        <footer>
            <div th:replace="~{/fragments/footer :: pageFooter}"></div>
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>